<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui,viewport-fit=cover"
		/>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<title>com.robertocpaes.pterodactyl Property Inspector</title>
		<link rel="stylesheet" href="../../../libs/css/sdpi.css" />
	</head>
	<body>
		<div class="sdpi-wrapper">
			<!--TODOZ: add one of each control from pi-samples to test Utils & CSS -->
			<form id="property-inspector">

				<div class="sdpi-item">
					<div data-localize class="sdpi-item-label">Pterodactyl API URL</div>
					<input
						class="sdpi-item-value"
						name="pterodactyl_api_url"
						type="text"
						value=""
					/>
					
				</div>
				<div class="sdpi-item">
					<div data-localize class="sdpi-item-label">ApiKey</div>
					<input
						class="sdpi-item-value"
						name="pterodactyl_api_key"
						type="text"
						value=""
					/>
				</div>
		
				<div class="sdpi-item">
					<div  class="sdpi-item-label">Servers</div>
					<select id="pterodactyl_api_server" name="pterodactyl_api_server" class="sdpi-item-value select" >
					</select>
					<button class="sdpi-item-value" id="refresh_servers">Refresh</button>
				</div>

				<div type="textarea" class="sdpi-item">
					<div class="sdpi-item-label up20" data-localize>
						Command
					</div>
					<div class="sdpi-item-value textarea">
						<textarea
							name="pterodactyl_api_command"
							type="textarea"
							maxlength="50"
							class="three-lines"
						></textarea>
					</div>
				</div>

				
			</form>
		</div>

		<div class="sdpi-info-label hidden" style="top: -1000" value=""></div>
		<script src="../../../libs/js/utils.js"></script>
		<script src="../../../libs/js/constants.js"></script>
		<script src="../../../libs/js/event-emitter.js"></script>
		<script src="../../../libs/js/api.js"></script>
		<script src="../../../libs/mocks/mock.js"></script>
		<script src="../../../libs/js/pterodactyl.js"></script>
		<script src="../../../libs/js/property-inspector.js"></script>
		<script src="inspector.js"></script>
	</body>
</html>
